<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="X-FRAME-OPTIONS" value="deny"/>
        <add name="X-CONTENT-TYPE-OPTIONS" value="nosniff"/>
        <add name="X-ROBOTS-TAG" value="none"/>
        <add name="X-XSS-PROTECTION" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
    <appSettings>
        <add key="DB_CONNECTION" value="sqlserver"/>
        <add key="DB_CONNECTION_STRING" value="Server=.\SQLExpress;Database=test;Trusted_Connection=True;"/>
    </appSettings>
</configuration>